@media screen and (max-width: 767px){

}


/* Smartphones and small tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}


/* Tablets and larger screens */
@media screen and (min-width: 1024px) { 

}

.notFoundParentDiv {
    display: flex; 
    width: 100%; 
    margin: 0px;
    height: 100%;
    padding: 0px;
    align-items: center;
    font-family: 'Poppins'; 
    justify-content: center; 
}