@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Poppins';
    src:url('../fonts/Poppins-Regular.woff2') format('woff');
}


@media screen and (max-width: 767px){

}


/* Smartphones and small tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}


/* Tablets and larger screens */
@media screen and (min-width: 1024px) { 

}

.profileParentDiv {
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    font-family: 'Poppins'; 
    justify-content: center; 
}

.profileChildDiv {
    display: flex; 
    gap: 5vh;
    width: 50%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; 
}

.profileEditParentDiv {
    display: flex; 
    gap: 25px;
    width: 70%;
    margin: 0px; 
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;  
}

.profileEditUserIconDiv {
    display: flex;  
    gap: 20px;
    width: 90%;
    margin: 0px; 
    padding: 0px;   
    align-items: center; 
}

.profileEditUserIcon { 
    margin: 0px; 
    width: 70px;  
    height: 70px;
    padding: 0px;
    object-fit: cover;
    border-radius: 50%;
}

.profileEditUserChangeBtn {
    display: flex;  
    margin: 0px; 
    font-size: 14px;  
    transition: .3s;  
    line-height: 14px;
    font-style: normal;  
    width: fit-content; 
    border-radius: 6px;   
    text-align: center;
    font-family: 'Poppins';  
    padding: 5px 15px 5px 15px;   
}

.lightTheme .profileEditUserChangeBtn {  
    color: #616161;
    background: #FFFFFF; 
    border: 1px solid #EEEEEE; 
} 

.profileEditInputDiv {
    display: flex;  
    gap: 10px;
    width: 90%;
    margin: 0px; 
    padding: 0px;  
    flex-direction: column; 
}

.profileEditBtnDiv {
    display: flex;  
    gap: 10px;
    width: 95%;
    margin: 0px; 
    padding: 0px;  
    align-items: center; 
    justify-content: flex-end; 
}

.profileEditInputIconDiv {
    display: flex;  
    gap: 10px; 
    margin: 0px; 
    padding: 0px;   
    align-items: center; 
}

.profileEditInputIcon {
    width: 17px;
    height: 17px;
    object-fit: cover;
}

.profileEditInputText {
    margin: 0px;
    padding: 0px;
    font-size: 13px;  
    line-height: 13px;
    font-style: normal;
}

.lightTheme .profileEditInputText { color: #455A64; } 

.profileEditInput {
    width: 95%;  
    border: none;  
    outline: none;
    border-radius: 6px;
    padding: 8px 15px 8px 15px;
}

.lightTheme .profileEditInput { 
    background-color: #FFFFFF;
    outline: 1px solid #EEEEEE; 
} 

.lightTheme .profileEditInput::placeholder { color: #9E9E9E; } 
 
.lightTheme .profileEditInput:hover { outline: 1px solid #E0E0E0; }
  
.profileEditUpdateBtn, .profileEditDiscardBtn {
    display: flex; 
    outline: 0;  
    margin: 0px;
    height: 30px;  
    cursor: pointer; 
    font-size: 13px;  
    transition: .3s; 
    font-weight: 500; 
    width: fit-content; 
    border-radius: 6px;   
    text-align: center;
    font-family: 'Poppins';  
    padding: 5px 15px 5px 15px; 
}

.lightTheme .profileEditUpdateBtn {  
    color: #FAFAFA;
    background: #000000; 
    border: 1px solid #000000; 
} 

.lightTheme .profileEditDiscardBtn {  
    color: #616161;
    background: #FFFFFF; 
    border: 1px solid #E0E0E0; 
} 

.profileIconNameDiv {
    display: flex; 
    gap: 20px;
    width: 100%;
    margin: 0px;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px 0px 10px 0px; 
}

.lightTheme .profileIconNameDiv { border: 1px solid #F3F3F3; } 

.profileUserFlexDiv {
    display: flex; 
    gap: 5%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: flex-start;  
}

.profileUserFlexDiv {
    display: flex; 
    gap: 5%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: flex-start; 
}

.profileUserIcon {
    width: 80px;  
    height: 80px;
    padding: 0px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 0px 0px 15px; 
}
 
.profileUserName {
    margin: 0px;
    padding: 0px; 
    white-space: nowrap;
}

.profileBtnDiv {
    display: flex;
    flex: 1; 
    padding: 0px; 
    align-items: center;
    margin: 0px 10px 0px 0px;
    justify-content: flex-end; 
}

.profileEntityTag { 
    border-radius: 5px;
    margin: 0px 0px 0px 15px; 
    padding: 5px 10px 5px 10px; 
}

.lightTheme .profileEntityTag { border: 1px solid #E0E0E0; } 

.profileEntityName {
    margin: 0px;
    padding: 0px;
    font-size: 14px;  
    line-height: 14px;
    font-style: normal;
}

.profileDocumentHeader {
    margin: 0px;
    padding: 0px;
    font-style: normal;
}

.profileDocumentStatsBar {
    display: flex;  
    width: 100%; 
    padding: 0px;
    height: 20px;
    border-radius: 4px; 
    margin: 2vh 0 8vh 0;
    align-items: center;
    justify-content: flex-start;
}

.lightTheme .profileDocumentStatsBar { 
    background-color: #FAFAFA; 
    border: 1px solid #F5F5F5;
} 

.profileEditBtnIcon, .profileLogoutIcon {
    width: 15px;
    height: 15px;  
    padding: 0px;  
    cursor: pointer; 
    object-fit: cover; 
    margin: 2px 0px 0px 0px;  
} 

.profileEditBtnIcon { width: auto; } 
 
.profileLogoutIcon { width: 15px; } 

.profileEditBtn, .profileLogoutBtn {
    display: flex;
    gap: 5px;
    outline: 0;  
    margin: 0px;
    height: 30px;  
    cursor: pointer; 
    font-size: 13px;  
    transition: .3s; 
    font-weight: 500; 
    width: fit-content; 
    border-radius: 6px;   
    text-align: center;
    font-family: 'Poppins';  
    padding: 5px 15px 5px 15px; 
}

.lightTheme .profileEditBtn {  
    color: #000000;
    background: #FFFFFF; 
    border: 1px solid #EEEEEE; 
} 

.lightTheme .profileLogoutBtn {  
    color: #FAFAFA;
    background: #212121; 
    border: 1px solid #212121; 
} 

.profileEditBtn:active, 
.profileEditUserChangeBtn:active, 
.profileLogoutBtn:active,
.profileEditUpdateBtn:active,
.profileEditDiscardBtn:active { transform: scale(0.97); }

.profileDocumentStatItem, .profileDocumentStatItem1 {
    position: relative; 
    display: flex;  
    margin: 0px;
    width: 100px; 
    padding: 0px;
    height: 100%;
    cursor: pointer;
}

.profileDocumentStatItem {
    border-radius: 4px; 
    background-color: aqua;
}

.lightTheme .profileDocumentStatItem1 { background-color: mediumpurple; }


.profileDocumentStatTooltop {
    position: absolute;
    display: flex;  
    gap: 10px;
    top: 35px; 
    margin: 0px;
    width: 15vw; 
    padding: 0px;
    height: 100%;
    padding: 0px;
    font-size: 14px;  
    cursor: pointer;  
    transition: .3s;
    line-height: 14px;
    font-style: normal;  
    align-items: center;
    justify-content: flex-start; 
}

.profileTooltopIndicator { 
    width: 5px;
    margin: 0px; 
    height: 5px; 
    padding: 0px;
    border-radius: 50%;
}

.lightTheme .profileTooltopIndicator { background-color: aqua; } 

.profileDocumentLabel, .profileDocumentFigure, .profileTooltopFileType, .profileTooltopFilePcnt { 
    padding: 0px;
    font-size: 14px;  
    line-height: 14px;
    font-style: normal; 
    white-space: nowrap;
}

.profileDocumentLabel { margin: 0px 0px 0px 15px; }

.profileDocumentFigure { margin: 0px 15px 0px 0px; }

.lightTheme .profileDocumentFigure,
.lightTheme .profileTooltopFileType,
.lightTheme .profileTooltopFilePcnt { color: #757575; } 

.profileDocumentStatsDiv {
    display: flex; 
    width: 100%;
    margin: 0px;   
    padding: 0px;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;  
}

.profileDocumentTable {
    display: flex;  
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    align-items: center;
    flex-direction: column; 
    justify-content: center;  
}

.lightTheme .profileDocumentTable { border: 1px solid #EEEEEE; } 

.profileDocumentRow, .profileDocumentFirstRow, .profileDocumentLastRow {
    display: flex; 
    width: 100%;  
    margin: 0px;
    align-items: center; 
    padding: 10px 0px 10px 0px; 
    justify-content: space-between;   
}
  
.lightTheme .profileDocumentRow, .lightTheme .profileDocumentFirstRow { border-bottom: 1px solid #EEEEEE; } 

.profileDocumentFirstRow { border-radius: 15px 15px 0px 0px; }

.profileDocumentLastRow { border-radius: 0px 0px 15px 15px; }

.lightTheme .profileDocumentLastRow { border-bottom: 1px solid transparent; } 


.profileLogoutModalParentDiv { 
    position: fixed; 
    display: flex;
    width: 100%; 
    padding: 0px;
    height: 110%;
    border: none;  
    transition: .3s; 
    overflow: hidden;
    align-items: center; 
    justify-content: center;
}

.lightTheme .profileLogoutModalParentDiv { background-color: rgba(0,0,0,0.2); }

.darkTheme .profileLogoutModalParentDiv  { background-color: rgba(0,0,0,0.9); }

.profileLogoutModalDiv {
    position: absolute;
    display: flex;  
    top: 50%;
    gap: 20px; 
    left: 50%;
    width: 25%;
    margin: 0px;
    border-radius: 8px;
    padding: 10px 10px;
    flex-direction: column;
    transform: translate(-50%, -50%); 
}

.lightTheme .profileLogoutModalDiv { 
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
} 

.profileLogoutUserIconDiv {
    display: flex;  
    gap: 13px;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.profileLogoutUserIcon {
    width: 30px;  
    margin: 0px;  
    height: 30px;
    padding: 0px;
    object-fit: cover;
    border-radius: 50%; 
}

.profileLogoutHeader {
    margin: 0px;  
    padding: 0px; 
    font-style: normal;  
}

.profileLogoutText {
    margin: 0px;  
    padding: 0px;
    font-size: 14px;  
    line-height: 20px;
    font-style: normal;  
}

.profileLogoutBtnDiv {
    display: flex;  
    gap: 15px; 
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: flex-end; 
}

.profileLogoutProceedBtn, .profileLogoutCancelBtn {
    display: flex;
    gap: 5px;
    outline: 0;  
    margin: 0px;
    height: 30px;  
    cursor: pointer; 
    font-size: 13px;  
    transition: .3s; 
    font-weight: 500; 
    width: fit-content; 
    border-radius: 6px;   
    text-align: center;
    font-family: 'Poppins';  
    padding: 4px 12px 4px 12px; 
}

.lightTheme .profileLogoutProceedBtn {  
    color: #FFFFFF;
    background: #D50000; 
    border: 1px solid #D50000; 
} 

.lightTheme .profileLogoutCancelBtn {  
    color: #FAFAFA;
    background: #212121; 
    border: 1px solid #212121; 
} 

.profileLogoutProceedBtn:active, 
.profileLogoutCancelBtn:active { transform: scale(0.97); }
 
@keyframes fadeIn {
    from {  opacity: 0; }
    to   { opacity: 1; }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.3s;
}