@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Poppins';
    src:url('../fonts/Poppins-Regular.woff2') format('woff');
}


@media screen and (max-width: 767px){

}


/* Smartphones and small tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}


/* Tablets and larger screens */
@media screen and (min-width: 1024px) { 

}


.authParentDiv {
    display: flex; 
    margin: 0px; 
    width: 100%;
    padding: 0px;
    height: 100%;  
    align-items: center; 
    font-family: 'Poppins'; 
    flex-direction: column;
    justify-content: center; 
} 
 
.authForm {
    display: flex; 
    gap: 20px;
    width: 30%; 
    margin: 0px;
    padding: 0px;
    flex-direction: column; 
    background: transparent;  
}
 
.authFormHeader {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
}
 
.authFormInput {
    display: flex;
    flex: 1;
    margin: 0px; 
    outline: none;
    font-size: 13px;
    background: none; 
    line-height: 13px;
    border-radius: 4px;  
    font-style: normal; 
    font-family: 'Poppins'; 
    padding: 10px 15px 10px 15px;
}

.lightTheme .authFormInput {  
    border: 1px solid #EEEEEE; 
    background-color: #FFFFFF;
} 

.authFormBtn {
    display: flex;
    outline: 0;
    width: 100%;
    height: 31px;
    cursor: pointer; 
    font-size: 14px; 
    padding: 0 11px;  
    transition: .3s; 
    font-weight: 500;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    font-family: 'Poppins';  
    justify-content: center; 
}

.lightTheme .authFormBtn {  
    color: #FFFFFF;
    background: #000000; 
    border: 1px solid #000000; 
} 

.lightTheme .authFormBtn :hover {  
    background: #000000;
    border-color: #000000;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
} 

.authFormBtn:active { transform: scale(0.95); }

.authFormMessageParentDiv {
    display: flex;
    margin: 0; 
    padding: 0; 
    align-items: center; 
    flex-direction: column; 
}

.authFormLinkDiv, .authFormMessageDiv {
    display: flex;
    margin: 0; 
    height: fit-content;
    align-items: center; 
}

.authFormLinkDiv { 
    padding: 0;  
    justify-content: center; 
}

.authFormMessageDiv { 
    gap: 10px;    
    max-width: 100%;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 10px 5px 10px; 
    justify-content: flex-start;
}

.authFormSuccessIcon {  
    margin: 0;
    padding: 0;
    width: 21px;
    height: auto;
}

.lightTheme .authSuccess {  
    background-color: #E8F5E9;
    border: 2px solid #4CAF50;
} 

.lightTheme .authError {  
    background-color: #FFEBEE;
    border: 2px solid #F44336;
} 

.authFormLink, .authFormMessageText {
    margin: 0px;
    padding: 0px;
    font-size: 14px;  
    line-height: 14px;
    font-style: normal;
}

.authFormMessageText {
    max-width: 90%;
}

.lightTheme .authFormLink { color: #000000; } 

.lightTheme .authFormMessageText { color: #000000; } 

.authFooterDiv { 
    position: absolute;
    display: flex;
    gap: 8px;
    width: 96%; 
    bottom: 4%; 
    margin: 0px;
    padding: 0px; 
    align-items: center;
    justify-content: flex-start; 
}

.authFooterChildDiv { 
    display: flex; 
    gap: 10px;
    margin: 0px;  
    padding: 0px;
    width: fit-content;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
}

.authFooterFlexDiv { 
    display: flex; 
    gap: 10px;
    margin: 0px;  
    padding: 0px;
    width: fit-content; 
    align-items: center;
    justify-content: flex-start;   
}

.authFooterUserIcon { 
    width: 23px;
    margin: 0px;
    padding: 0px;
    height: 23px; 
    border-radius: 50%;
}

.authFooterText {
    margin: 0px;
    padding: 0px;
    font-size: 14px;  
    line-height: 14px;
    font-style: normal;
}

.lightTheme .authFooterTitle { color: #212121; } 

.lightTheme .authFooterFaintText { color: #616161; } 

.authFooterLink { all: unset; } 

.authFooterGitUsername { cursor: pointer; } 