@font-face {
font-style: normal;
font-weight: normal;
font-family: 'Poppins';
src:url('../fonts/Poppins-Regular.woff2') format('woff');
}


@media screen and (max-width: 767px){

}


/* Smartphones and small tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}


/* Tablets and larger screens */
@media screen and (min-width: 1024px) {

}

.homeParentDiv {
    display: flex;
    width: 100%;
    margin: 0px;
    height: 100%;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.homeChildDiv {
    display: flex;
    gap: 7%;
    width: 98%;
    margin: 0px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 7% 0px 0px 0px; 
    justify-content: flex-start; 
}

.homeDocumentsComponentDiv {
    display: flex;
    width: 90%;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lightTheme .homeDocumentsComponentDiv { border: 1px solid #EEEEEE; }


.homeDocumentsRecentDiv {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 0px;
    padding: 0px; 
    align-items: center; 
    justify-content: flex-start;
}

.homeDocumentRecentItem {
    display: flex; 
    gap: 15px;
    margin: 0px;
    height: 100%;
    border-radius: 10px;
    align-items: center; 
    padding: 3px 10px 3px 10px;  
    justify-content: flex-start; 
}

.lightTheme .homeDocumentRecentItem { border: 1px solid #EEEEEE; } 

.homeDocumentRecentIconDiv {
    display: flex;  
    width: 30px; 
    margin: 0px;
    padding: 0px; 
}

.homeDocumentRecentTextDiv {
    display: flex; 
    gap: 6px;
    margin: 0px;
    padding: 0px;  
    align-items: center;
    flex-direction: column; 
    justify-content: flex-start; 
}

.homeDocumentRecentDeleteBtn {
    all: unset;
    display: flex;
    margin: 0px;
    padding: 4px;  
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center; 
}

.lightTheme .homeDocumentRecentDeleteBtn { 
    background-color: #FFFFFF; 
    border: 1px solid #EEEEEE; 
}

.darkTheme .homeDocumentRecentDeleteBtn  { 
    background-color: #FFFFFF; 
    border: 1px solid #EEEEEE; 
}

.homeDocumentRecentDeleteIcon {
    margin: 0px; 
    width: 15px;
    height: auto;
    padding: 0px;  
    transition: .3s; 
}

.homeDocumentRecentDeleteBtn:active { transform: scale(0.95); } 

.homeDocumentsUtilityBar {
    display: flex;
    gap: 15px;
    width: 100%;
    margin: 0px;
    align-items: center;
    padding: 8px 0px 8px 0px;
    justify-content: flex-start;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lightTheme .homeDocumentsUtilityBar {
    background-color: #FCFCFC;
    border-bottom: 1px solid #EEEEEE;
}

.homeDocumentsUtilityFlexDiv {
    display: flex;
    flex: 1;
    gap: 15px;
    padding: 0px;
    align-items: center;
    margin: 5px 15px 5px 0px;
    justify-content: flex-end;
}

.homeDocumentBreadcrumbs {
    display: flex;
    padding: 0px;
    list-style: none;
    margin: 5px 0px 5px 15px;
}

ul.homeDocumentBreadcrumbs li {
    display: inline;
    font-size: 14px;
    line-height: 14px;
}

ul.homeDocumentBreadcrumbs li+li:before {
    margin: 0px;
    padding: 0px;
    content: "\00a0\00a0/\00a0\00a0";
}

.lightTheme ul.homeDocumentBreadcrumbs li+li:before { color: #BDBDBD; }

.darkTheme ul.homeDocumentBreadcrumbs li+li:before { color: #BDBDBD; }

ul.homeDocumentBreadcrumbs li a { text-decoration: none; }

.lightTheme ul.homeDocumentBreadcrumbs li a { color: #455A64; }

ul.homeDocumentBreadcrumbs li a:hover { text-decoration: underline; }

.lightTheme ul.homeDocumentBreadcrumbs li a:hover { color: #455A64; }

.homeDocumentSearchInput {
    width: 20%;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 6px 10px 6px 10px;
}

.lightTheme .homeDocumentSearchInput {
    background-color: #FFFFFF;
    outline: 1px solid #EEEEEE;
}

.lightTheme .homeDocumentSearchInput::placeholder { color: #546E7A; }

.lightTheme .homeDocumentSearchInput:hover { outline: 1px solid #E0E0E0; }

/* Table */
.homeDocumentTable {
    display: flex; 
    width: 100%;
    margin: 0px;
    padding: 0px; 
    flex-direction: column; 
    border-collapse: collapse; 
}

.homeDocumentTableHeadRow, .homeDocumentTableRow { 
    display: flex;
    flex: 1; 
    gap: 10px;
    margin: 0px; 
    font-size: 14px; 
    text-align: left;
    line-height: 14px;
    white-space: nowrap; 
}

.homeDocumentTableHeadRow { padding: 0px 35px 0px 15px; }

.lightTheme .homeDocumentTableHeadRow {
    height: fit-content;
    color: #757575;
    border-top: transparent;
    background-color: #FCFCFC;  
    border-bottom: 1px solid #EEEEEE;   
}

.lightTheme .homeDocumentTableRow { 
    border: none;
    color: #212121;
    background-color: #FFFFFF;  
}

.homeDocumentTableHead, .homeDocumentTableBody { 
    display: flex;
    flex: 1; 
    margin: 0px;  
    padding: 0px;  
}

.homeDocumentTableList { 
    display: flex;
    gap: 15px; 
    width: 100%;
    margin: 0px; 
    overflow-y: auto;
    max-height: 45vh;
    height: fit-content; 
    flex-direction: column; 
    padding: 10px 20px 10px 15px;
}

.homeDocumentTableHeadCell, .homeDocumentTableCell {
    all: unset;  
    margin: 0px; 
    display: flex;
    text-align: left;  
    align-items: center;
}

.homeDocumentTableHeadCell { padding: 10px 0px 10px 0px; }
.homeDocumentTableCell { padding: 0px; }
 
.headCell_name, .tableCell_name { flex: 1; }

.headCell_size, .headCell_format, .headCell_createdFrom { 
    width: 15%; 
    justify-content: flex-end;
}

.tableCell_size, .tableCell_format, .tableCell_createdFrom {
    display: flex;
    width: 15%; 
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: flex-end;
}

.tableCell_size .tableCellTextDiv, .tableCell_format .tableCellTextDiv, .tableCell_createdFrom .tableCellTextDiv { 
    margin: 0px;
    padding: 0px; 
}

.homeDocumentIconDiv { 
    display: flex;
    gap: 15px;
    margin: 0px;  
    padding: 0px;
    align-items: center;
    justify-content: flex-start; 
}

.homeDocumentTypeIcon { 
    width: 35px;
    margin: 0px; 
    height: auto; 
    padding: 0px;
}

.homeDocumentRecentName, 
.homeDocumentRecentSize, 
.homeDocumentTableCellName, 
.homeDocumentTableCellSize, 
.homeDocumentTableCellFormat, 
.homeDocumentTableCellCreated {  
    width: 100%;
    margin: 0px;  
    font-size: 14px; 
    text-align: left;
    line-height: 14px;
    white-space: nowrap; 
}

.lightTheme .homeDocumentTableCellName, 
.lightTheme .homeDocumentRecentName { 
    color: #212121; 
}

.lightTheme .homeDocumentRecentSize { color: #757575; }

.lightTheme .homeDocumentTableCellSize, 
.lightTheme .homeDocumentTableCellFormat, 
.lightTheme .homeDocumentTableCellCreated { 
    color: #757575;  
}

.tableCell_name .homeDocumentTableCellName,  
.lightTheme .homeDocumentRecentSize,
.lightTheme .homeDocumentRecentName {
    display: inline-block; 
    max-width: 40vw; 
    overflow: hidden;  
    line-height: 17px;
    white-space: nowrap;
    text-overflow: ellipsis; 
}




.homeDocDeleteModalParentDiv { 
    position: fixed; 
    display: flex;
    width: 100%; 
    padding: 0px;
    height: 110%;
    border: none;  
    transition: .3s; 
    overflow: hidden;
    align-items: center; 
    justify-content: center;
}

.lightTheme .homeDocDeleteModalParentDiv { background-color: rgba(0,0,0,0.2); }

.darkTheme .homeDocDeleteModalParentDiv  { background-color: rgba(0,0,0,0.9); }

.homeDocDeleteModalDiv {
    position: absolute;
    display: flex;  
    top: 50%;
    gap: 20px; 
    left: 50%;
    width: 35%;
    margin: 0px;
    border-radius: 8px;
    padding: 10px 10px;
    flex-direction: column;
    transform: translate(-50%, -50%); 
}

.lightTheme .homeDocDeleteModalDiv { 
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
} 

.homeDocDeleteModalHeader {
    margin: 0px;  
    padding: 0px; 
    font-style: normal;  
}

.homeDocDeleteModalText {
    margin: 0px;  
    padding: 0px;
    font-size: 14px;  
    line-height: 20px;
    font-style: normal;  
}

.homeDocDeleteModalBtnDiv {
    display: flex;  
    gap: 15px; 
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: flex-end; 
}

.homeDocDeleteModalAcceptBtn, .homeDocDeleteModalCancelBtn {
    display: flex;
    gap: 5px;
    outline: 0;  
    margin: 0px;
    height: 30px;  
    cursor: pointer; 
    font-size: 13px;  
    transition: .3s; 
    font-weight: 500; 
    width: fit-content; 
    border-radius: 6px;   
    text-align: center;
    font-family: 'Poppins';  
    padding: 4px 12px 4px 12px; 
}

.lightTheme .homeDocDeleteModalAcceptBtn {  
    color: #FFFFFF;
    background: #D50000; 
    border: 1px solid #D50000; 
} 

.lightTheme .homeDocDeleteModalCancelBtn {  
    color: #FAFAFA;
    background: #212121; 
    border: 1px solid #212121; 
} 

.homeDocumentRecentDeleteBtn:active,
.homeDocDeleteModalAcceptBtn:active, 
.homeDocDeleteModalCancelBtn:active { transform: scale(0.97); }