@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Poppins';
    src:url('../fonts/Poppins-Regular.woff2') format('woff');
}


@media screen and (max-width: 767px){

}


/* Smartphones and small tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}


/* Tablets and larger screens */
@media screen and (min-width: 1024px) { 

}

.homeParentDiv {
    display: flex;    
    width: 100%;
    margin: 0px;
    height: 100%; 
    padding: 0px;
    align-items: center;
    justify-content: center;  
}

.homeChildDiv {
    display: flex;
    gap: 6%;
    width: 98%;
    margin: 0px;
    padding: 0px;
    height: 100%; 
    align-items: center;
    flex-direction: column; 
    justify-content: center;  
}

.homeDocumentsRecentDiv {
    display: flex;  
    gap: 3%;
    width: 90%;
    margin: 0px;
    padding: 0px;  
    align-items: center;  
    justify-content: flex-start;   
}

.homeDocumentsRecentItem {
    display: flex;  
    gap: 15px; 
    margin: 0px;
    padding: 10px 15px;  
    border-radius: 8px;
    width: fit-content;
    align-items: center;  
    justify-content: flex-start;   
}

.lightTheme .homeDocumentsRecentItem { border: 1px solid #F5F5F5; } 

.homeDocumentsRecentTextDiv {
    display: flex;  
    flex: 1;
    gap: 5px; 
    margin: 0px;
    padding: 0px;  
    flex-direction: column;  
}

.homeDocumentsComponentDiv {
    display: flex;  
    width: 90%;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    align-items: center;
    flex-direction: column; 
    justify-content: center;  
}

.lightTheme .homeDocumentsComponentDiv { border: 1px solid #EEEEEE; } 
 
.homeDocumentsList {
    all: unset;
    display: flex; 
    gap: 8px;
    width: 100%; 
    height: 45vh; 
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 3px 0px;
    padding: 0px 0px 5px 0px;
    justify-content: flex-start;   
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lightTheme .homeDocumentsList { background-color: #FFFFFF; } 

.homeDocumentsList::-webkit-scrollbar { display: none; }

.homeDocumentsUtilityBar {
    display: flex; 
    gap: 15px;
    width: 100%;  
    margin: 0px;
    align-items: center; 
    padding: 8px 0px 8px 0px;  
    justify-content: flex-start;   
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lightTheme .homeDocumentsUtilityBar { 
    background-color: #FCFCFC;
    border-bottom: 1px solid #EEEEEE; 
} 
 
.homeDocumentsTable {
    display: flex;  
    width: 100%;  
    margin: 0px;
    padding: 0px;  
    align-items: center;  
    flex-direction: column;  
    justify-content: flex-start;   
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lightTheme .homeDocumentsTable { 
    background-color: #FCFCFC; 
}
 
.homeDocumentsUtilityFlexDiv {
    display: flex;
    flex: 1;
    gap: 15px; 
    padding: 0px;
    align-items: center;
    margin: 5px 15px 5px 0px;
    justify-content: flex-end;  
}
 
.homeDocumentBreadcrumbs {
    display: flex; 
    padding: 0px;
    list-style: none; 
    margin: 5px 0px 5px 15px;
}
   
ul.homeDocumentBreadcrumbs li {
    display: inline;
    font-size: 14px;  
    line-height: 14px;    
}
 
ul.homeDocumentBreadcrumbs li+li:before {
    margin: 0px;
    padding: 0px;
    content: "\00a0\00a0/\00a0\00a0";
}

.lightTheme ul.homeDocumentBreadcrumbs li+li:before  { color: #BDBDBD; } 
 
.darkTheme ul.homeDocumentBreadcrumbs li+li:before  { color: #BDBDBD; } 

ul.homeDocumentBreadcrumbs li a { text-decoration: none; }

.lightTheme ul.homeDocumentBreadcrumbs li a  { color: #455A64; } 
 
ul.homeDocumentBreadcrumbs li a:hover {  text-decoration: underline; }

.lightTheme ul.homeDocumentBreadcrumbs li a:hover  { color: #455A64; } 
 
.homeDocumentSearchInput {
    width: 20%;  
    border: none;  
    outline: none;
    border-radius: 6px;
    padding: 6px 10px 6px 10px;
}

.lightTheme .homeDocumentSearchInput { 
    background-color: #FFFFFF;
    outline: 1px solid #EEEEEE; 
} 

.lightTheme .homeDocumentSearchInput::placeholder { color: #546E7A; } 
 
.lightTheme .homeDocumentSearchInput:hover { outline: 1px solid #E0E0E0; }
 
.homeTableLabelRow {
    display: flex; 
    width: 100%;  
    margin: 0px;
    align-items: center; 
    padding: 10px 0px 10px 0px; 
    justify-content: flex-start;   
}
  
.lightTheme .homeTableLabelRow { 
    background-color: #FCFCFC;
    border-bottom: 1px solid #EEEEEE; 
} 

.homeDocumentsItem {
    display: flex;
    gap: 5%; 
    width: 100%;  
    align-items: center;
    margin: 0px 0px 0px 15px;
    padding: 4px 7px 4px 7px; 
    justify-content: flex-start;   
}

.homeDocumentItemChild {
    display: flex;
    gap: 5%; 
    width: 100%;  
    margin: 0px;
    padding: 0px; 
    align-items: center; 
    justify-content: flex-start;  
}

.homeFolderIcon {
    margin: 0px; 
    width: auto;  
    padding: 0px;
    height: 30px;
}

.homeDocumentTypeIcon {
    margin: 0px; 
    width: 30px;  
    padding: 0px;
    height: 35px;
}

.homeTableLabelRowHeader { all: unset; }
 
.homeRecentDocumentSize, 
.homeRecentDocumentDash, 
.homeTableLabelRowHeader, 
.homeDocumentName, 
.homeDocumentCreated, 
.homeDocumentFormat,
.homeDocumentSize {  
    margin: 0px; 
    padding: 0px; 
    font-size: 14px;  
    line-height: 14px;    
    white-space: nowrap;
}

.homeTableLabelRowHeader{ margin: 0px 0px 0px 15px; } 

.lightTheme .homeDocumentName { color: #212121; } 
 
.lightTheme .homeDocumentCreated,
.lightTheme .homeDocumentFormat,
.lightTheme .homeDocumentSize {  
    color: #616161;
} 

.lightTheme .homeRecentDocumentSize { color: #9E9E9E; } 

.lightTheme .homeRecentDocumentDash { color: #E0E0E0; } 

.lightTheme .homeTableLabelRowHeader { color: #757575; } 
 
.homeTableLabelRowHeader { width: 25%; }

.homeDocumentName { width: 20%; }

.homeDocumentSize { width: 20%; }

.homeDocumentFormat { width: 20%; }

.homeDocumentCreated { width: 20%; }