@font-face {
font-style: normal;
font-weight: normal;
font-family: 'Poppins';
src:url('../fonts/Poppins-Regular.woff2') format('woff');
}


@media screen and (max-width: 767px){

}


/* Smartphones and small tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}


/* Tablets and larger screens */
@media screen and (min-width: 1024px) {

}

.homeParentDiv {
    display: flex;
    width: 100%;
    margin: 0px;
    height: 100%;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.homeChildDiv {
    display: flex;
    gap: 6%;
    width: 98%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.homeDocumentsComponentDiv {
    display: flex;
    width: 90%;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.lightTheme .homeDocumentsComponentDiv { border: 1px solid #EEEEEE; }

.homeDocumentsUtilityBar {
    display: flex;
    gap: 15px;
    width: 100%;
    margin: 0px;
    align-items: center;
    padding: 8px 0px 8px 0px;
    justify-content: flex-start;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.lightTheme .homeDocumentsUtilityBar {
    background-color: #FCFCFC;
    border-bottom: 1px solid #EEEEEE;
}

.homeDocumentsUtilityFlexDiv {
    display: flex;
    flex: 1;
    gap: 15px;
    padding: 0px;
    align-items: center;
    margin: 5px 15px 5px 0px;
    justify-content: flex-end;
}

.homeDocumentBreadcrumbs {
    display: flex;
    padding: 0px;
    list-style: none;
    margin: 5px 0px 5px 15px;
}

ul.homeDocumentBreadcrumbs li {
    display: inline;
    font-size: 14px;
    line-height: 14px;
}

ul.homeDocumentBreadcrumbs li+li:before {
    margin: 0px;
    padding: 0px;
    content: "\00a0\00a0/\00a0\00a0";
}

.lightTheme ul.homeDocumentBreadcrumbs li+li:before { color: #BDBDBD; }

.darkTheme ul.homeDocumentBreadcrumbs li+li:before { color: #BDBDBD; }

ul.homeDocumentBreadcrumbs li a { text-decoration: none; }

.lightTheme ul.homeDocumentBreadcrumbs li a { color: #455A64; }

ul.homeDocumentBreadcrumbs li a:hover { text-decoration: underline; }

.lightTheme ul.homeDocumentBreadcrumbs li a:hover { color: #455A64; }

.homeDocumentSearchInput {
    width: 20%;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 6px 10px 6px 10px;
}

.lightTheme .homeDocumentSearchInput {
    background-color: #FFFFFF;
    outline: 1px solid #EEEEEE;
}

.lightTheme .homeDocumentSearchInput::placeholder { color: #546E7A; }

.lightTheme .homeDocumentSearchInput:hover { outline: 1px solid #E0E0E0; }

/* Table */
.homeDocumentTable {
    display: flex; 
    width: 100%;
    margin: 0px;
    padding: 0px; 
    flex-direction: column; 
    border-collapse: collapse; 
}

.homeDocumentTableHeadRow, .homeDocumentTableRow { 
    display: flex;
    flex: 1; 
    gap: 10px;
    margin: 0px; 
    font-size: 14px; 
    text-align: left;
    line-height: 14px;
    white-space: nowrap;
    padding: 0px 15px 0px 15px;  
}

.lightTheme .homeDocumentTableHeadRow {
    height: fit-content;
    color: #757575;
    border-top: transparent;
    background-color: #FCFCFC;  
    border-bottom: 1px solid #EEEEEE;   
}

.lightTheme .homeDocumentTableRow { color: #212121; }
 
.lightTheme .homeDocumentTableRow { 
    border: none;
    background-color: #FFFFFF; 
}

.homeDocumentTableHead, .homeDocumentTableBody { 
    display: flex;
    flex: 1; 
    margin: 0px;  
    padding: 0px;  
}

.homeDocumentTableList { 
    display: flex;
    gap: 15px; 
    width: 100%;
    margin: 0px; 
    overflow-y: auto;
    max-height: 50vh;
    flex-direction: column; 
    padding: 10px 0px 10px 0px;
}

.homeDocumentTableHeadCell, .homeDocumentTableCell {
    all: unset;  
    flex: 1; 
    margin: 0px; 
    display: flex;
    text-align: left;  
}

.homeDocumentTableHeadCell { padding: 10px 0px 10px 0px; }
.homeDocumentTableCell { padding: 0px; }

.homeDocumentTableCellName, .homeDocumentTableCellSize, .homeDocumentTableCellFormat, .homeDocumentTableCellCreated {  
    width: 100%;
    margin: 0px;  
    font-size: 14px; 
    text-align: left;
    line-height: 14px;
    white-space: nowrap; 
}

.lightTheme .homeDocumentTableCellName { 
    color: #212121; 
}

.lightTheme .homeDocumentTableCellSize, .lightTheme .homeDocumentTableCellFormat, .lightTheme .homeDocumentTableCellCreated { 
    color: #757575;  
}