@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Poppins';
    src:url('../fonts/Poppins-Regular.woff2') format('woff');
}


@media screen and (max-width: 767px){

}


/* Smartphones and small tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}


/* Tablets and larger screens */
@media screen and (min-width: 1024px) { 

}


.dashboardParentDiv {
    display: flex; 
    margin: 0px; 
    width: 100%;
    height: 100%;  
    padding: 10px;
    align-items: center; 
    font-family: 'Poppins'; 
    flex-direction: column;
    justify-content: center; 
    background-color: #F5F5F5; 
} 
  
.dashboardChildDiv {
    display: flex; 
    gap: 10px;
    margin: 0px;
    width: 100%;
    padding: 0px; 
    min-height: 96%;
    max-height: 96%;
    border-radius: 15px;
    align-items: center; 
    flex-direction: column;
    justify-content: center;  
} 

.lightTheme .dashboardChildDiv { 
    background-color: #FCFCFC;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}

.darkTheme .dashboardChildDiv { 
    background-color: #FCFCFC;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}
  
.dashboardNavDiv {
    display: flex; 
    width: 100%;
    margin: 0px;  
    padding: 0px;  
    height: fit-content;  
} 

.componentContentDiv { 
    display: flex; 
    flex: 1;
    width: 99%; 
    padding: 0px; 
    border-radius: 11px;
    margin: 0px 0px 8px 0px;  
} 

.lightTheme .componentContentDiv {  
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.darkTheme .componentContentDiv {  
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dashboardNav {
    position: relative;
    display: flex;  
    width: 100%;  
    padding: 0px;  
    align-items: center;
    justify-content: center;  
    margin: 10px 0px 0px 0px; 
} 

.homeUnorderList { 
    display: flex; 
    gap: 10px; 
    margin: 0px;  
    padding: 0px; 
} 

.dashboardNavUserDiv { 
    position: absolute;
    display: flex;
    gap: 15px;
    right: 0px;   
    padding: 0px;  
    margin: 0 3% 0 0;
    object-fit: cover; 
    align-items: center;
    justify-content: center; 
} 

.dashboardNavUserIcon {  
    right: 0px;  
    width: 32px;
    margin: 0px;  
    padding: 0px; 
    height: 32px; 
    cursor: pointer;
    transition: .3s;
    object-fit: cover;
    border-radius: 50%; 
} 

.dashboardNavUserIcon:active { transform: scale(0.92); }

.dashboardNavUsername {  
    margin: 0px; 
    padding: 0px;
    cursor: pointer;
    font-size: 13px; 
    line-height: 14px;
    font-style: normal; 
} 

.lightTheme .dashboardNavUsername { color: #111111; }

.darkTheme .dashboardNavUsername { color: #111111; }

.dashboardNavItem {
    all: unset;
    display: flex;
    gap: 8px; 
    margin: 0px; 
    cursor: pointer;
    font-size: 13px; 
    transition: .3s;  
    line-height: 14px;
    font-style: normal;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 7px 10px 7px 10px;
    border: 1px solid transparent;
 
}

.lightTheme .dashboardNavItem { color: #111111; }

.darkTheme .dashboardNavItem { color: #111111; }

.dashboardNavIcon {
    width: 15px;
    margin: 0px;  
    padding: 0px; 
    height: auto; 
    cursor: pointer; 
    object-fit: cover; 
} 

.lightTheme .dashboardNavItem.active {
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;  
}

.darkTheme .dashboardNavItem.active {
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;  
}

.dashboardNavItem:active { transform: scale(0.9); }